*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /* font-weight: 700; */
}

body{
    background-color: #f6f8f9;
     
}
ul{
    list-style-type: none;
    margin-bottom: 40px;
}
li{
    margin: 5px 5px;
}
i{
    margin-right: 10px;
    color: red;
}
i.fa-trash-can{
    font-size: 18px;
    margin-left: 7px;
}
select{
    margin-left: 7px;
    border-radius: 5px 5px;
    border-color: rgba(0, 0, 0, 0.233) ;
    width: 100px;
}
.head{
    background-color: white;
    padding: 10px;
    
}
.logo{
    margin-left: 15px;  
}
#logo_text{
    color: #051931 ;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 50px;
    vertical-align: top;
}
/* BARRA DI NAVIGAZIONE  */
.navsquare{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px ;
    margin-bottom: 2px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: end;
    
}
.search-bar{
    margin-left: 10px;
    border-color: rgba(0, 0, 0, 0.116);
    border-radius: 5px 5px;
    height: 30px;
}

/* BOTTONI */
.bluebutton{
    background-color: #47adf1;
    color: white;
    height: 30px;
    width: 90px;
    border: 1px solid #47adf1;
    border-radius: 10%;
    cursor: pointer;
    padding: 2px;
    margin-left: 5px;
    
    
    
}
.whitebutton{
    background-color: white;
    color:#c8cdd2 ;
    height: 30px;
    width: 90px;
    border: 1px solid #c8cdd2;
    border-radius: 10%;
    cursor: pointer;
    padding: 2px;
    margin-left: 5px;
    
    
}
.mainsquare{
    width: 60%;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    padding: 40px 60px;
    
}

.mainsquare h2{
    color: #444851;
    font-weight: bolder;
    margin-bottom: 20px;
    
}
.tasks{
    margin-bottom: 40px;
}
.mainsquare p{
    margin: 20px 0;
}

.done{
    text-decoration: line-through;
}
.notshow{
    display: none;
}


